<%- include('partials/header') %>



<div class="jumbotron" style="padding-top: 60px; background-color: rgb(185, 185, 185); background-size:cover;">
    <div class="container">
        <h1 class="display-4"><b>Uh oh!</b></h1>
        <p class="lead"> Email or Password incorrect. Please try again! </p>
        <button type="button" onclick="history.back()" class="btn btn-warning" style="margin-bottom: 60px;"> Try again <svg class="svg-arrow" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><style>@keyframes slide-17{to{transform:translateX(2px)}}</style><path fill="#000000" d="M11.039 17.692a.857.857 0 01-1.317-1.098L13.55 12 9.722 7.406a.857.857 0 111.317-1.098l4.276 5.132a.848.848 0 01.208.56.854.854 0 01-.208.56l-4.276 5.132z" style="animation:slide-17 0.5s infinite alternate both cubic-bezier(1,-.01,0,.98)"/></svg></button>
    </div>
</div>

<%- include('partials/footer') %>